.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    "header col2"
    "col1 col2";
}

.container-header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
    "header header"
    "col1 col2";
}

.item-header {
    grid-area: header;
}

.col1 {
    grid-area: col1;
    align-self: center;
    justify-self: center;
}

.col2{
    grid-area: col2;
    align-self: center;
    justify-self: center;
}

.reveal .grid-image {
    margin: 0;
    height: 100%;
}

.reveal .text-shadow {
    text-shadow: 2px 2px white;
    border-radius: 25px;
    background-color:rgba(204,214,205,0.5);
}

.container-header-1-col {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.header-row {
    grid-row: 1;
    grid-column: 1;
}

.col-whole-width {
    grid-row: 2;
    grid-column: 1;
    height: 50%;
}


